<div id="login-wrapper">
    <div id="login-body">
        <span id="title">WINDSCADA SYSTEM</span>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><span class="pi pi-user"></span></span>
            <input [(ngModel)]="username" type="text" pInputText placeholder="Username">
        </div>
        <div class="p-inputgroup mt-2">
            <span class="p-inputgroup-addon"><span class="pi pi-lock-open"></span></span>
            <input [(ngModel)]="password" type="password" pInputText placeholder="Password">
        </div>
        <button class="mt-3 p-button-outlined" id="login-button" pButton type="button" label="Đăng nhập"
            (click)="login()"></button>
    </div>
</div>