<div class="d-flex flex-column" style="height: 100%;">
    <div class="d-flex flex-row-reverse">
        <p-dropdown [style]="{width: '200px'}" class="m-2" [options]="dayOption" (onChange)="onChange($event)"
            optionValue="value" optionLabel="name"></p-dropdown>
        <button pButton style="width: 200px;" class="p-button-secondary m-2" *ngIf="observe?.closed" (click)="resume()"
            label="Resume"></button>
        <button pButton style="width: 200px;" class="p-button-secondary m-2" *ngIf="!observe?.closed"
            (click)="observe?.unsubscribe()" label="Pause"></button>
    </div>
    <canvas #myChart style="width: 100%; height: 100%;"></canvas>
</div>