<div class="kpi">
    <table style="width: 100%;">
        <tr class="kpi-row">
            <td>Power</td>
            <td class="kpi-value">{{power}}</td>
            <td>kW</td>
        </tr>
        <tr class="kpi-row">
            <td>Wind Speed</td>
            <td class="kpi-value">{{wind}}</td>
            <td>m/s</td>
        </tr>
        <tr class="kpi-row">
            <td>Capital Factor(MTD)</td>
            <td class="kpi-value">{{cf}}</td>
            <td>%</td>
        </tr>
        <tr class="kpi-row">
            <td>Availability(MTD)</td>
            <td class="kpi-value">{{avai}}</td>
            <td>%</td>
        </tr>
    </table>
</div>