<div class="alarm">
    <div class="row mb-3" style="color: white;">
        <div class="col-4">
            {{cars.length}} Alarm
        </div>
        <div class="col-4">
            <button pButton pRipple type="button" label="Acknowledge All" class="p-button-secondary p-button-sm mr-1"
                styleClass="p-button-sm"></button>
            <button pButton pRipple type="button" label="Acknowledge" class="p-button-secondary p-button-sm"
                styleClass="p-button-sm"></button>

        </div>
        <div class="col-4">
            <div class="p-inputgroup">
                <input [(ngModel)]="searchTagName" type="text" pInputText placeholder="Keyword">
                <button type="button" (click)="search()" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-table responsiveLayout="scroll" [value]="cars" [scrollable]="true" scrollHeight="400px"
                selectionMode="single" [(selection)]="selectedProduct" dataKey="turbine_log_id"
                responsiveLayout="scroll" (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width:20%">Time</th>
                        <th style="min-width:20%">Signal_Name</th>
                        <th style="min-width:20%">OPC_Tag_Name</th>
                        <th style="min-width:20%">Alarm_Class</th>
                        <th style="min-width:20%">Description</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-car>
                    <tr [pSelectableRow]=car>
                        <td [style]="redNotice(car.alarm_class)">{{car.log_time}}</td>
                        <td [style]="redNotice(car.alarm_class)">{{car.signal_name}}</td>
                        <td [style]="redNotice(car.alarm_class)">{{car.opc_tag_name}}</td>
                        <td [style]="redNotice(car.alarm_class)">{{car.alarm_class}}</td>
                        <td [style]="redNotice(car.alarm_class)">{{car.description}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog class="dialog" [(visible)]="displayBasic" [transitionOptions]="'1500ms cubic-bezier(0, 0, 0.2, 1)'"
    [style]="{width: '50vw'}" *ngIf="selectedProduct">
    <div class="row">
        <div class="col-12 mb-2">
            <strong>Time: </strong><span>{{selectedProduct.log_time}}</span>
        </div>
        <div class="col-12 mb-2">
            <strong>Signal Name: </strong><span>{{selectedProduct.signal_name}}</span>
        </div>
        <div class="col-12 mb-2">
            <strong>Description: </strong><span>{{selectedProduct.description}}</span>
        </div>
        <div class="col-12 mb-2">
            <strong>Alarm Class: </strong><span>{{selectedProduct.alarm_class}}</span>
        </div>
        <div class="col-12 mb-2">
            <strong>OPC Tag Name: </strong><span>{{selectedProduct.opc_tag_name}}</span>
        </div>
        <div class="col-12 mb-2">
            <strong>Detail Description: </strong><span>{{selectedProduct.detail_description}}</span>
        </div>
    </div>
    <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template> -->
</p-dialog>