<div *ngIf="global.activeProfile.id" id="header">
    <div id="banner">
        <img src="assets/WindScada-banner-dark1.png" alt="banner" />
    </div>
    <div id="menu_top">
        <ul>
            <li><a href="/windscada/home" title="Home" class="active">Home</a></li>
            <li><a href="#" title="Site">Site</a>
                <ul class="sub-menu">
                    <li><a href="/windscada/site/trendscreen">Site Trendscreen</a></li>
                    <li><a href="/windscada/site/overview">Overview screen</a></li>
                    <li><a href="/windscada/site/bar-graph">Bar graph screen</a></li>
                    <li><a href="#">Martrix screen</a></li>
                </ul>
            </li>
            <li><a href="#" title="Turbine">Turbine</a>
                <ul class="sub-menu">
                    <li><a href="#">Trends</a></li>
                    <li><a href="/windscada/turbine/alarm">Alarms</a></li>
                    <li><a href="#">Details</a></li>
                    <li><a href="#">Controls</a></li>
                    <li><a href="#">Scatter plot</a></li>
                    <li><a href="#">Parameters</a></li>
                    <li><a href="#">IO Inversion</a></li>
                    <li><a href="#">DB file</a></li>
                    <li><a href="#">Snapshot Files</a></li>
                    <li><a href="#">Statistics</a></li>
                </ul>
            </li>
            <li><a href="#" title="WindCONTROL">WindCONTROL</a>
                <ul class="sub-menu">
                    <li><a href="#">MarkVIe</a></li>
                    <li><a href="#">Bachmann</a></li>
                </ul>
            </li>
            <li><a href="#" title="Metmast">Metmast</a></li>
            <li><a href="#" title="Analytics">Analytics</a></li>
            <li><a href="#" title="Reporting">Reporting</a></li>
            <li><a href="#" title="Configuration">Configuration</a></li>
            <li><a href="#" title="SCADA Details">SCADA Details</a></li>
            <li><a href="#" title="My Dashboard">My Dashboard</a></li>
            <li><a href="#" title="Help">Help</a></li>
        </ul>
        <div id="logout-container">
            <svg (click)="logout()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M16 10v-5l8 7-8 7v-5h-8v-4h8zm-16-8v20h14v-2h-12v-16h12v-2h-14z"></path>
            </svg>
        </div>
    </div>
    <div id="account_info">
        <span>User: {{global.activeProfile.username}}</span>
    </div>
</div>
<div id="content">
    <router-outlet>
    </router-outlet>
</div>