.status {
    ::ng-deep .p-dropdown .p-dropdown-panel {
        z-index: 9999;
    }
    ::ng-deep .p-datatable .p-datatable-thead > tr > th {
        border: 1px solid rgba(162, 162, 211, 0);
        background: #232323;
        padding: 5px;
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
        border: 1px solid #232323;
        background: #232323;
        padding: 5px;
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr.p-highlight > td {
        color: white;
        font-weight: bolder;
        border: 1px solid #232323;
        background: #232323 !important;
    }

    ::ng-deep .p-treetable .p-treetable-thead > tr > th {
        border: 1px solid #232323;
        background: #232323;
        padding: 5px;
    }
    ::ng-deep .p-treetable .p-treetable-tbody > tr > td {
        border: 1px solid #232323;
        background: #232323;
        padding: 5px;
    }
    ::ng-deep .p-treetable .p-treetable-tbody > tr.p-highlight > td {
        color: white;
        font-weight: bolder;
        border: 1px solid #232323;
        background: #232323 !important;
    }
    ::ng-deep .p-treetable table {
        width: auto !important;
    }
    ::ng-deep .p-datatable table {
        width: auto !important;
    }
}