<div class="row">
    <div id="top-left" class="col-3">
        <app-component-wrapper title="Turbine Status">
            <app-turbine-status></app-turbine-status>
        </app-component-wrapper>
    </div>
    <div id="top-right" class="col-9">
        <app-component-wrapper title="Performance Data">
            <app-performance-data></app-performance-data>
        </app-component-wrapper>
    </div>
    <div id="bottom-left" class="col-3">
        <app-component-wrapper title="Key Performance Indicators">
            <app-kpi></app-kpi>
        </app-component-wrapper>
    </div>
    <div id="bottom-right" class="col-9">
        <app-component-wrapper title="Turbines Alarms">
            <div style="background-color: #232323;">
                <app-alarm></app-alarm>
            </div>
        </app-component-wrapper>
    </div>
</div>